<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>BRINKS</title>
  </head>
  <body>

    <div id = "app">
      <h1>{{message}}</h1>

      <h3>Les meilleurs sons de PNL</h3>
      <ul>
        <li v-for="item in chansons">
          <a v-bind:href="item.url">{{item.nom}}</a> -- Durée : {{item.duree}} min
        </li>
      </ul>

      <p>Durée totale : {{total}} min</p>

      <label for="change-favori">Quel est ton son préféré ? :</label>
      <input id ="change-favori" type="text" v-model="chansonFavorie"/>

      <p v-if="chansonFavorie != 0">Ton son préféré est : {{chansonFavorie}}</p>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
      const app = new Vue({
        el: '#app',
        data: {
          chansonFavorie:null,
          message:"QUE LA FAMILLE",
          chansons: [
            {
              nom: "J\'UDG",
              duree: 5,
              url: "https://www.youtube.com/watch?v=CEbJwZOkvDM"
            },
            {
              nom: "Simba",
              duree: 3,
              url: "https://www.youtube.com/watch?v=6NonS60QIJA"
            },
            {
              nom: "J\'suis PNL",
              duree: 3,
              url: "https://www.youtube.com/watch?v=w7lu-cNnYC8"
            },
          ]
        },
        methods:{
        },
        computed:{
            total(){
              let total = 0
              this.chansons.forEach(element => {
                total += element.duree
              });
              return total
            }
          },
      })
    </script>

  </body>
</html>